div:nth-child(1) {
  border: 100px solid transparent;
  border-right: 100px solid red;
  width: 0;
  height: 0;
  float: left;
}
div:nth-child(2) {
  border: 50px solid transparent;
  border-right: 50px solid green;
  width: 0;
  height: 0;
  float: left;
}
div:nth-child(3) {
  border: 100px solid transparent;
  border-bottom: 100px solid blue;
  width: 0;
  height: 0;
  float: left;
}
div:nth-child(4) {
  border: 50px solid transparent;
  border-bottom: 50px solid pink;
  width: 0;
  height: 0;
  float: left;
}
div:nth-child(5) {
  border: 100px solid transparent;
  border-left: 100px solid skyblue;
  width: 0;
  height: 0;
  float: left;
}
div:nth-child(6) {
  border: 50px solid transparent;
  border-left: 50px solid gold;
  width: 0;
  height: 0;
  float: left;
}
div:nth-child(7) {
  border: 100px solid transparent;
  border-top: 100px solid yellow;
  width: 0;
  height: 0;
  float: left;
}
div:nth-child(8) {
  border: 50px solid transparent;
  border-top: 50px solid #e100ff;
  width: 0;
  height: 0;
  float: left;
}
